#!/usr/bin/env bash
# .exports
# Purpose: Define environment variables used across all shell sessions
# Loaded by: .zshrc
# Dependencies: none

# Editor configuration
export EDITOR='code --wait'

# Prefer US English and use UTF-8
export LANG="en_US.UTF-8"
export LC_ALL="en_US.UTF-8"

# Shell History
export HISTSIZE='65536'
export HISTFILESIZE="${HISTSIZE}"
export HISTCONTROL='ignoreboth'

# Don’t clear the screen after quitting a manual page
export MANPAGER="less -X"

# Always enable colored `grep` output
export GREP_OPTIONS="--color=auto"
