[init]
  defaultBranch = main
[user]
	name = Mark Norgren
	email = mark@marknorgren.com
[pull]
	rebase = true
[core]
    excludesfile = ~/.gitignore_global
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[alias]
	yolo = !git add -A && git commit -m \"$(curl --silent --fail https://whatthecommit.com/index.txt)\"
